/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 1, 2024, 6:36:43 PM
    Author     : DELL
*/
body {
    font-family: Arial, sans-serif;
    color:white;
    margin: 0;
    padding: 0;
    background-color:  #000000; /*#f4f4f4*/
}

header {
    background: #333;
    color: white;
    padding: 10px ;
    text-align: center;
}
.custom-navbar {
    position: fixed; /* Makes the navbar float */
    top: 0; /* Ensures it stays at the top */
    width: 100%; /* Stretches across the width of the viewport */
    z-index: 1030; /* Keeps it above other elements */
    opacity: 0.9; /* Reduces opacity for a slightly transparent look */
    transition: opacity 0.3s ease-in-out; /* Adds a smooth opacity change effect */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color:yellow;
}

main {
    padding: 5px;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 5px ;
    position:fixed;
    bottom: 0;
    width: 100%;
    
}
footer  a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer  a:hover{
   color: yellow; 
}
/*.carousel {
    max-width: 80%; 
    margin: 0 auto;
}*/

.custom-carousel-image {
    height: 500px; 
    width: auto;
    object-fit: contain; 
}

.card-body{
    opacity: 0.9;
    background-color:  #000000; 
    color:white;
    border-color: #000000;
  
}

.btn-primary{
    background-color:yellow;
    opacity: 0.8;
    color:#000000;
    border-radius: 0px;
}

.btn-primary a:hover{
    color:white;
}